/**
 * Style to module Simple EU Cookie Law
 * @author MAGES Michał Jendraszczyk
 * @copyright (c) 2019, MAGES Michał Jendraszczyk
 * @license http://mages.pl MAGES Michał Jendraszczyk
 */

    #seucl_mod {
        display:none;
        -o-transition:0.5s all ease-in-out;
        -moz-transition:0.5s all ease-in-out;
        -webkit-transition:0.5s all ease-in-out;
        transition:0.5s all ease-in-out;
        position:fixed;
        z-index: 1234;
        left:0px;
        width:100%;
    }
    #seucl_mod img {
        max-width:100%;
        height:48px;
        margin: 20px 0px;
    }
    #seucl_mod > div > div {
        padding: 20px 0px;
    }
    #seucl_mod .btn {
        display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
    @media(min-width:768px) {
        #seucl_mod{
            height:75px;
        }
        #seucl_mod .col-sm-8 {
            width:70%;
            float:left;
        }
        #seucl_mod .col-sm-2  {
            text-align:center;
            width:15%;
            float:left;

        }
    }
    @media(max-width:767px) {
        #seucl_mod .col-sm-8 {
            width:100%;

        }
        #seucl_mod .col-sm-2  {
            text-align:center;
            width:100%;
        }
    }

